/* dark background color (hero and footer) */
* {
    background-color: #1F2937;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

img {
    width: 200px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

.panel-one-container {
    display: flex;
    justify-content: space-around;
}

.panel-one-left {
    display: flex;
    flex-direction: column;
}

/* Hero Secondary text, Header Link Text */
.panel-one-container p, .header-links * {
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
}

/* Header Logo Text */
headerlogo {
    font-size: 24px;
    color: #F9FAF8;
}

/* Button color, call to action background color */
button, .banner {
    color: #3882f6;
}

/* information header text */ 
infoheader {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

/* Quote section background color */
.panel-three-container * {
    background-color: #e5e7eb;
    display: flex;
}

/* Quote Text */
quotetext {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}