/* dark background color (hero and footer) */
* {
    background-color: #1F2937;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header img {
    width: 200px;
}

.panel-one-container img {
    width: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 8px;
    margin-left: auto;
}

.panel-one-container {
    display: flex;
    justify-content: space-evenly;
}

.panel-one-left {
    display: flex;
    flex-direction: column;
}

/* Hero Secondary text, Header Link Text */
.panel-one-container p, .header-links * {
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
}

/* Button color, call to action background color */
button, .banner {
    background-color: #3882f6;
}

.panel-two-container {
    display: flex;
}

/* information header text */ 
.panel-two-container h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.panel-three-container {
    display: flex;
}

/* Quote section background color */
.panel-three-container * {
    background-color: #e5e7eb;
}

/* Quote Text */
.panel-three-container .quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    width: 500px;
}